.pie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  border-radius: 5px;
}

.pie-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

/* TM */
.tm-pie {
  border: 15px solid transparent;
  border-image: url('../../images/terraformingmars/spacesky.jpg') 30 stretch;
}
.tm-win-stats {
  font-size: 1em;
  font-family: 'prototype';
}

/* Wingspan */
.wingspan-pie {
  border: 2px solid rgb(255, 132, 105);
}
.wingspan-win-stats {
  font-size: 1em;
  font-family: 'ralewayItalic';
}

/* Agricola */
.agricola-pie {
  border: 2px solid rgb(255, 132, 105);
}
.agricola-win-stats {
  font-size: 1em;
  font-family: 'ralewayItalic';
}
