body {
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
}
.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.pie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  justify-content: space-around;
}

.pie-grid {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 80vw;
  justify-content: space-evenly;
}

.chart-header {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
